{% extends 'base.html' %}
{% block title %}Pyongyang Nuclear Centre{% endblock %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/nuclear.css' %}"/>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="col-md-4">
        {% if user %}
        <div class="container-fluid">
            <h1>Congratulations!</h1>
            <p>Username: <span class="credential">{{ user.username }}</span></p>
            <p>Password: <span class="credential">{{ user.password }}</span></p>
        </div>
        {% else %}
        <h1>Login:</h1>
        <form action="/nuclear/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if sent_form %}
            <p id="error">Incorrect login</p>
            {% endif %}
            <input class="btn btn-default" type="submit" value="Submit">
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}