{% extends 'base.html' %}
{% block title %}Pyongyang Nuclear Centre{% endblock %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/home.css' %}"/>
<style>
    body {
        height: 100vh;
        background-image: url({% static 'images/pyongyang.jpg' %});
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% 100vh;
    }
</style>
{% endblock %}
{% block body %}
<h1 id="title">Pyongyang Nuclear Research Centre</h1>
<section id="content">
    <div class="container-fluid">
        <h1>Nothing to see here</h1>
        <p>Lorem Ipsum Dolor</p>
    </div>
    <div class="container-fluid">
        <div class="col-md-4">
            <h2>A</h2>
            <p>Lorem Ipsum</p>
        </div>
        <div class="col-md-4">
            <h2>A</h2>
            <p>Lorem Ipsum</p>
        </div>
        <div class="col-md-4">
            <h2>A</h2>
            <p>Lorem Ipsum</p>
        </div>
    </div>
</section>
{% endblock %}